* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    height: 100%;
}

a {
    text-decoration: none;
    color: aliceblue
}

a:hover {
    text-decoration: underline;
    color: red;
}

.container {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.interno {
    margin: auto;
    text-align:center;
    background-color: rgba(255, 130, 121, 0.815);
    width: 80%;
    box-sizing: border-box;
    padding: 3pt;
}

.topo {
    height: 5%;
}

.imagemTopo {
    height: 10%;
}

.menu {
    background-color: crimson;
    padding-left: 4px;
    padding-right: 4px;
    height: 10%;
}

.conteudo {
    background-color: brown;
    height: 70%;
}

.rodape {
    background-color:rgba(248, 97, 86, 0.856);
    height: 5%;
}
.lista {
    display: inline;
}

.lista li{
    display: inline;
}

li a:hover {
    color:black;    
}

table, table td {
    border: 1px solid black;
}